@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .resume-content {
        width: 100%;
        margin: 0;
    }

    .name {
        font-size: 2.1vw;
    }

    .profession {
        font-size: 1vw;
    }
}